.container

    img.center-block(
      alt='Starter'
      src=''
      style='width: 375px; margin-top: 10rem; margin-bottom: 3rem;'
    )

    form.form-horizontal.text-center(
      style='width: 40%; margin: auto;'
      name='loginForm'
      ng-submit='$ctrl.login()'
    )

      .form-group
        label.col-sm-3.control-label(for='loginUsername') Username
        .col-sm-9
          input.form-control(
            type='text'
            id='loginUsername'
            ng-model='$ctrl.credentials.username'
            placeholder='Username'
            autofocus
            required
          )

      .form-group
        label.col-sm-3.control-label(for='loginPassword') Password
        .col-sm-9
          input.form-control(
            type='password'
            id='loginPassword'
            name='inputPassword'
            ng-model='$ctrl.credentials.password'
            placeholder='Password'
            required
          )

      .form-group
        .col-sm-offset-3.col-sm-9
          button.btn.btn-primary.btn-block(
            type='submit'
            ng-disabled='loginForm.$invalid || $ctrl.isAuthFetching'
          ) Login

      //- .form-group
        .col-sm-12
          p.text-right
            a(ui-sref='auth({ type: $ctrl.type.forgotPassword })') forgot password?

    //- p.text-center(style='margin-top: 10rem;') Got a question?
      a(href='')  Contact Us
